body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background-color: #1E1E1E;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.btnLogin {
    background-color: #4CAF50;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.hero {
    background: url('/images/hero.jpg') no-repeat center center/cover; /* Reemplaza con la ruta de tu imagen */
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.btnPrimary {
    background-color: #FF5722;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.about, .features, .tournaments, .contact {
    padding: 50px 20px;
    text-align: center;
}

.tournamentList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tournament {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.btnSecondary {
    background-color: #2196F3;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.footer {
    background-color: #1E1E1E;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
